* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body */
body {
  background-color: #eeeff1;
}

/* header */

ul {
  list-style-type: none;
}

li {
  display: inline;
  /* margin-right: 0.5rem; */
  padding: 0.7rem;
}
li a {
  font-size: 15px;
  color: black;
}

li a:hover {
  color: #5f6164;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  font-weight: 500;
}
.logo {
  font-size: 16px;
}
a {
  text-decoration: none;
}

.active {
  color: white;
  border-radius: 5px;
  background-color: black;
}
.active:hover {
  background-color: #5f6164;
}

.active a {
  color: white;
}
.active a:hover {
  color: white;
}
/* introduction */

.introduction {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 4rem 6rem;
  gap: 3rem;
}
.introduction img {
  width: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h1 {
  font-size: 80px;
  font-weight: 500;
  color: #1a1c20;
}
.intro p {
  font-size: 25px;
  font-weight: 300;
  color: #000;
}

/* career */
.career {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4rem 6rem;
  gap: 6rem;
  align-items: center;
}

.career-description h1 {
  font-size: 44px;
  font-weight: 500;
  color: #1a1b1f;
  margin-bottom: 15px;
}
.career-description p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 32px;
}

.career-skills span {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ced1df;
  border-radius: 8px;
}

/* in touch */

.connect-with-me {
  display: grid;
  grid-template-columns: 55% 45%;
  margin: 4rem 6rem;
  gap: 1rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 3rem;
}

.connect-with-me .interested h1 {
  font-size: 64px;
  font-weight: 500;
}

.fillform {
  width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
form input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  /* box-sizing: border-box; Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

form input[type="submit"] {
  color: white;
  border-radius: 5px;
  background-color: black;
  padding: 12px 20px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
form input[type="submit"]:hover {
  background-color: #5f6164;
}

/* Add a background color and some padding around the form */
form {
  padding: 20px;
}

#message {
  height: 200px;
}

/* footer */

footer {
  text-align: center;
}
footer h5 {
  color: #8f929e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.floating-links {
  position: fixed;
  margin: 1rem;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;

}

.floating-links a
{
  color: black;
  margin: 5px;
}

.floating-links a:hover
{
  color: gray;
}